{% extends "base.html" %}
{%load crispy_forms_tags%}
{%block content%}

<form method = 'post' class="w-50 m-auto mt-5" novalidate>
    {%csrf_token%}
    <h3 class="text-primary">You can Deposite Balance</h3>
    <!-- {{form|crispy}} -->

    {%for fm in form%}
    <span class="text-white">{{fm.label_tag}}</span>
    {{fm}}
    <span class="text-danger">{{fm.errors}}</span>
    {%endfor%}

    <button type="submit" class="btn btn-outline-warning text-white mt-4" >Deposite</button>
</form>

{%endblock%}